#avatar{
    background-image: url(assets/avatar-1.jpg);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
}
#iconNotification{
    background-color: gainsboro;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#svgNotification{
    width: 20px;
    height: 20px;
}
.online{
    background-color: rgb(3, 198, 3);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 5px;
    border: 2px solid white;
}
.notifica{
    background-color: #7153F9;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 5px;
    border: 2px solid white;
}
#dropdownAvatar, #dropdownNotification{
    right: 0!important;
    left: auto!important;
}
#hero { 
    align-items: center;
    background-color: #7153F9;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
h1{
    color: white;
}
.text > p {
    color:#BCA8FF;
    font-size: 20px;
}
.btn1, .btn2{
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.btn1{
    background-color: #1ACB98;
    color: white;
}
#cameraIcon{
    margin: 20px;
    background-color:#FFEEDA;
    padding: 15px;
    border-radius: 50%;
}
#cameraIcon>img{
    width: 30px;
    height: 30px;
}
#peopleIcon{
    margin: 20px;
    background-color:#FFEEDA;
    padding: 15px;
    border-radius: 50%;
}

#peopleIcon>img{
    width: 30px;
    height: 30px;
}

#timerIcon{
    margin: 20px;
    background-color:#FFEEDA;
    padding: 15px;
    border-radius: 50%;
}

#timerIcon>img{
    width: 30px;
    height: 30px;
}

h4{
    margin: 0;
    font-size: 1.2em;
}
.p{
    margin:0;
    color: rgb(200, 199, 199);
}

.icon{
    justify-content: center;
}
body{
    background-color: #F5F4F8;
}

#features{
    background-color: white !important;
    margin-bottom: 100px;
}
#primoCarousel{
    width: 80%;
    justify-content: center;
}

.row > h3{
        padding-left: 13%;
        margin-bottom: 30px;
}

.carousel-control-prev-icon{
    background-color: grey;
    border-radius: 50%;
    padding: 15px;
}
.carousel-control-next-icon{
    background-color: grey;
    border-radius: 50%;
    padding: 15px;
}







@media screen and (max-width: 768px) {
    .icon{
        justify-content: unset !important;
    }
    
}

@media (min-width: 200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100%;
    }
}
